<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="checkCode/checkBarcode.js"></script>
    <script type="text/javascript" src="checkCode/checkPostcode.js"></script>
    <script type="text/javascript" src="jquery-3.1.0.min.js"></script>
    <title>postnet</title>
    <style type="text/css">
        #input-code{
            width: 400px;
        }
        section {
            text-align: center;
        }

        .table {
            width: 700px;
        }

        .result{
            margin-left:0;
        }

        .history {
            margin-top: 100px;
        }

        button {
            width: 50px;
        }
    </style>
</head>
<body>
<section>
    <h1 class="head">POST-NET</h1>
    <form>
        <div class="col-md-12">
            <label for="input"><font size="4">Input code</font></label><!-- size最大是6-->
            <input placeholder="Please input code here" type="text" id="input-code"/><br/>
        </div>
        <span id="err-message"></span><br/>
        <div class="col-md-12">
        <div class="result">
            <label><font size="4">Result</font></label>&nbsp&nbsp<span id="result"></span><br/>
        </div>
        </div>
        <input type="radio" value="Barcode to Zipcode" name="transform-method" checked="checked" id="radioOne"/><span>Barcode to Zipcode</span>
        <input type="radio" value="Zipcode to Barcode" name="transform-method"
               id="radioTwo"/><span>Zipcode to Barcode<br/></span>
        <button id="button-ok" type="button" class="btn btn-success">ok</button>
        <br/>
    </form>
</section>
<section class="history">
    <h2>History</h2>
    <table class="table" align="center">
        <tr>
            <td>code</td>
            <td>result</td>
        </tr>

    </table>
</section>
<script>
    function request(router, input) {
        $.get(`/${router}?input=${input}`, function (data) {
            if (data.error === ``) {
                $("#result").text(data.code);
            } else {
                $('#err-message').text(data.error);
            }
            //$('.table tr:last').after('<tr><td>' + input + '</td><td>' + data.code + '</td></tr>');         //append是给所选元素的里面追加，after是给所选元素的后边追加
            $('.table').append('<tr><td>' + input + '</td><td>' + data.code + '</td></tr>');

        });
    }

    function handleError(err, input) {
        if (err === ``) {
            $('#radio-one').is(":checked") ? request('toPostcode', input) : request('toBarcode', input);
        } else {
            $('#err-message').text(err);
        }
    }

    $('#button-ok').click(function () {
        let input = $('#input-code').val();
        let err;
        if (input === '') {
            $('#err-message').text('Input can not be empty');
        } else {                                       //根据用户选择的转换方法对输入进行校验并显示错误信息
            err = ($("input[name='transform-method']:checked").attr('id') === 'radioOne' ? checkBarcodeAndTip(input).error : checkPostcodeAndTip(input).error);
            handleError(err, input);
        }
    });

    $('#input-code').focus(function () {
        $('#err-message').text('');
        $('#result').text('');

    });

</script>
</body>
</html>